.custom-leftnav .main-content-left-components {
    position: -webkit-sticky !important;
    position: sticky !important;
    border-right: 0;
    top: 4rem !important;
}

.mia-be-class {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.search {
    width: 100%;
    margin: 0 auto;
    position: relative !important;
}

.img-div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.img-div img {
    background: center no-repeat;
    background-size: cover;
    display: block;
    width: 70%;
    margin: auto;
}